body{
	margin:0;
	display:flex;
	/*background-image: url('fih.jpeg');*/
	background-attachment:fixed;
	background-size:cover;
	overflow:clip;
}
.square{
	width:100px;
	height:100px;
	background-color:yellowgreen;
	transform: scale(1);
	transition-property: background-color, transform, filter;
	transition-duration: 4s;
	transition-timing-function: ease-in-out;
	filter:blur(25px);
}

.back{
	width:2000px;
	height:1000px;
	background-color:black;
	position:fixed;
	z-index:-1;
}

.square:hover{
	transform:rotate(45deg) scale(.25);
	border-radius:100%;
	background-color:fuchsia;
	filter:blur(75px);
	transition-property: background-color, border-radius, transform, filter, translateX, rotate;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
}
.1, .2, .3, .4, .5, .6, .7, .8, .9, .10, .11, .12, .13, .14, .15{
	position:fixed;
}
