.box {
	background-color:yellowgreen;
	width:200px;
	height:200px;
	transform: scale(1);
	transition-property: background-color, transform, filter;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}
.box:hover{
	transform:rotate(45deg) scale(.5);
	background-color:plum;
	filter:blur(50px);
	transition-property: background-color, transform, filter, translateX;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}
@keyframes colors{
	0%{
		background-color:tomato;
		transform:translateX(0rem);
	}
	25%{
		background-color:fuchsia;
		transform:translateX(40rem);
	}
	75%{
		transform:translateX(20rem);
	}
	100%{
		background-color:violet;
		transform:translateX(0rem);
	}
}
.circle{
	width:200px;
	height:200px;
	border-radius:100%;
	animation: colors 2s infinite cubic-bezier(0.83, 0, 0.17, 1);
}